body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

marquee {
	padding: 1rem;
	background-color: #eee;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
}

h2 {
	color: navy;
	text-align: left;
}

article p {
	text-align: justify;
}

.callout {
	color: #d6d2d2;
	background-color: #702963;
    padding: 1rem;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: right;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.5fr 3fr 5fr;

	.callout {
		grid-row: 3/4;
		grid-column: 0/8;
	}

	section {
		grid-row: 2/3;
	}
}